
#wrapper {

    background: tomato;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}


.open_wrapper {
    top: 200px !important;
}
.closed_wrapper {
    top: 0px !important;
}
/*      Navigation Bar
==============================*/

#m_nav_container {
    width: 100%;
    height: 200px;
    background-color:black;
    opacity: 0.7;
    position: fixed;
    display: none;
    top: 0px;
}
#m_nav_bar {
    width: 80%;
    margin: auto;
}
#m_nav_list {
	list-style: none;
    padding: 0;
    margin: 1.5em 0 0 0;
}
.m_nav_item {
    margin-top: 15px;
}
.m_nav_item a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    -webkit-transition-duration: 0.5s;
}
.m_nav_item a:hover {
    color: dodgerblue;
}
/*classes for jQuery function*/

.container_open {
    position: fixed !important;
    display: block;
    height: 120px;
}
/*  Navigation Hamburger Icon
==============================*/

/*icon container*/

#m_nav_menu {
    position: fixed;
    top: 30px;
    right: 221px;
    z-index: 3;
    cursor: pointer;
    padding: .5em;
    background-color: black;
    opacity: 0.5;
}
/*class applied to create the lines*/

.m_nav_ham {
    width: 50px;
    height: 5px;
    background: #fff;
    margin: 10px auto;
}
.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}
.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
}
.m_nav_ham_3_open {
    opacity: 0;
}


.button_open {
    background: #fff;

}
.button_closed {}
/*      Header
==============================*/
.profile{
    border-radius: 50% ;
    border: solid ThreeDDarkShadow;
    width: 25%;
    height: 25%;

}
.expertise-content{
    font-size: 15px;
    text-align: center;
    color: black;
}
.adjust{
    padding-left: 1vw;
    padding-top: 5vw;
    text-align: center;
    align-content: center;
}
.head1{
   font-size:4vmax;
    opacity: 0.5;
    font-family: "Andalus";
   text-align:center;
   color:white;
   padding-top:2vw;
   padding-bottom:1vw;
   text-decoration:none;
}
* { color:#fff; text-decoration: none;}

.head2{
    font-size:60px;
    text-align:center;
    color:black;
   font-family: Andalus;
    padding-top:5vm;


    text-decoration:none;

}
.head3{
    font-size:40px;
    text-align:center;
    color:black;
    font-family: Andalus;
    padding-top:2vw;
    padding-left:3.5vw;

    text-decoration:none;

}
.subhead2{
    color: cornflowerblue;
    text-align: center;
    font-size: 20px;
    font-family: Andalus;
}
.subhead3{
    color: black;
    font-family: Andalus;
    font-size: 20px;
}
.services{
    background-color: white;

}
.bg-skill{
    background-image: url("../images/banner.jpg");
    font-size: 50px;
    width: 100%;
    background-size: cover;
    text-align: center;
    padding-top: 5vw;

}
.project{
    background-color: gainsboro;
}
.education{
    background-color: whitesmoke;
}
.icon1{
    color:black;

}

.clearfix{
    padding: 2vmax;
}
* {box-sizing: border-box}

.cont {
    width: 100%;
    background-color: #ddd;
}
.contact-content{
    font-size: 20px;
    color: black;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: white;
    font-size: 1.5vmax;
}
.skill-head{
    font-size: 2vw;
    text-align: left;
    color: whitesmoke;
}

.html {width: 90%; background-color: #2196F3;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 60%; background-color: #2196F3;}
.ts {width: 50%; background-color: #2196F3;}
.java {width: 70%; background-color: #2196F3;}
.jsp{width:60%; background-color: #2196F3; }
.php{width:50%; background-color: #2196F3; }
.py{width:40%; background-color: #2196F3; }
.c{width:50%; background-color: #2196F3; }
.android{width:70%; background-color: #2196F3; }
.boots{width:80%; background-color: #2196F3; }
.agjs{width:60%; background-color: #2196F3; }
.nojs{width:70%; background-color: #2196F3; }
.django{width:70%; background-color: #2196F3; }
.ionic{width:60%; background-color: #2196F3; }
.mysql {width: 70%; background-color: #2196F3;}
.sqlite {width: 70%; background-color: #2196F3;}
.oracle {width: 50%; background-color: #2196F3;}







#header {
    width: 100%;
    height: 700px;

    float: left;
    text-align: center;
    margin-top: 0px;
}

.bar_group {
    position: relative;
}
.card1 {
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    color: black;
    text-align: center;
    align-content: center;
    background-color: white;
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card{
    width: 100%;
    color: black;
    background-color: #0f9d58;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2) ;
}
.projects{
    background-color: whitesmoke;
    padding-top: 20px;
}
.clearfix1{
    padding: 20px;
}






/*#header*/

/*      Sections
==============================*/

.main_sections {
    width: 100%;
    height: 1100px;
    text-align: center;
    margin-top: 0px;
    float: left;
}

/*      Media Queries
==============================*/

/*Media query for all non-mobile devices*/

@media screen and (min-width: 780px) {
    /*Nav bar media queries!*/
    #m_nav_container {
        text-align: left;
        height: 120px !important;
    }
    .m_nav_item {
        display: inline;
        line-height: 100px;
        margin-right: 50px;
    }
    .m_nav_item a {
        margin-top: 10px;
        font-size: 1.2em;
    }
    #m_nav_item_1 {
        margin-left: 5px;
    }
    /*wrapper media queries*/
    .open_wrapper {
        top: 130px !important;
    }
}
/*Media query for larger, non-mobile devices*/

@media screen and (min-width: 1150px) {
    #m_nav_container {
         text-align: center;
		height: 125px !important;
		box-shadow: 0 0 2px #000;
    }


	#m_nav_menu {
		top: 37px;
	}

    .m_nav_item {
        display: inline;
        line-height: 70px;
        margin-right: 80px;
        padding-bottom: 10px
    }
    .m_nav_item a {
        margin-top: 10px;
		font-size: 1.2em;
		font-weight: 600;
    }
    /*#toggle_m_nav{
	display: none;
}*/
}
/*
Media query for mid-size non-mobile devices*/
